<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			org.hsqldb.jdbcDriver
    </property>
		<property name="hibernate.connection.url">
			jdbc:hsqldb:dbvisapp
    </property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="transaction.factory_class">
			org.hibernate.transaction.JDBCTransactionFactory
    </property>

		<!--
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
		-->

		<property name="hibernate.jdbc.batch_size">0</property>

		<!--
		<property name="hbm2ddl.auto">create-drop</property>
		-->
		<property name="hbm2ddl.auto">update</property>
		<mapping
			class="de.unibonn.inf.dbdependenciesui.hibernate.models.DatabaseConnection" />
		<mapping
			class="de.unibonn.inf.dbdependenciesui.hibernate.models.DatabaseTable" />
		<mapping
			class="de.unibonn.inf.dbdependenciesui.hibernate.models.DatabaseTrigger" />
		<mapping
			class="de.unibonn.inf.dbdependenciesui.hibernate.models.DatabaseProcedure" />
		<mapping
			class="de.unibonn.inf.dbdependenciesui.hibernate.models.DatabaseView" />
	</session-factory>
</hibernate-configuration>
